# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
# from google.colab import files

# csv_file = files.upload()

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
#applicant_data_df = pd.read.csv(Path('./Resources/applicants_data.csv'))
data = Path("Resources/applicants_data.csv")
applicant_data_df = pd.read_csv(data)
# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
type(applicant_data_df)

pandas.core.frame.DataFrame

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN',"NAME"], axis = 1)

# Review the DataFrame

applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 

# enc = OneHotEncoder(handle_unknown='ignore')
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)
categorical_variables

#applicant_data_df = applicant_data_df.select_dtypes(include=['object']).copy()
# enc.categories_
# # Display the categorical variables list
# enc.categories_

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(handle_unknown='ignore',sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
fit_enc = enc.fit_transform(applicant_data_df[categorical_variables])
fit_enc

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(fit_enc,columns= enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
#One-Hot encoding
# The basic strategy is to convert each category value into a new column and assign a 1 or 0 (True/False) value to the column. 
# This has the benefit of not weighting a value improperly.
# There are many libraries out there that support one-hot encoding but the simplest one is using pandas' .get_dummies() method.
encoded_df = applicant_data_df.copy()
applicant_data_df_onehot = applicant_data_df.copy()
applicant_data_df_onehot = pd.get_dummies(applicant_data_df_onehot)
pplicant_data_df_onehot = pd.concat([applicant_data_df_onehot, applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]]], axis=1, sort= False)

# Review the Dataframe
pplicant_data_df_onehot

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,1
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,108590,1
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,6692,1
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,1
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,36500179,0

In [11]:
#applicant_data_df_onehot

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df_onehot["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_data_df_onehot.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
X.dtypes

STATUS                      int64
ASK_AMT                     int64
APPLICATION_TYPE_T10        uint8
APPLICATION_TYPE_T12        uint8
APPLICATION_TYPE_T13        uint8
                            ...
INCOME_AMT_25000-99999      uint8
INCOME_AMT_50M+             uint8
INCOME_AMT_5M-10M           uint8
SPECIAL_CONSIDERATIONS_N    uint8
SPECIAL_CONSIDERATIONS_Y    uint8
Length: 116, dtype: object

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
X = applicant_data_df_onehot.iloc[:, 0:11].values
y = applicant_data_df_onehot["IS_SUCCESSFUL"].values

In [18]:
# Define 
#the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

116

In [19]:
#X_train.shape[0]

In [21]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [22]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [23]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [24]:
# Create the Sequential model instance
neuron = Sequential()

In [25]:
# Add the first hidden layer
neuron.add(
    Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu")
)

In [26]:
# Add the second hidden layer
neuron.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer2, activation="relu")
)

In [27]:
# Add the output layer to the model specifying the number of output neurons and activation function
neuron.add(Dense(1, activation = "linear"))

In [28]:
# Display the Sequential model summary
neuron.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [29]:
# Compile the Sequential model
neuron.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Fit the model using 50 epochs and the training data
model = neuron.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 969us/step - loss: 1.4215 - accuracy: 0.6675
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1190 - accuracy: 0.7056
Epoch 3/50
804/804 [==============================] - 1s 970us/step - loss: 0.9685 - accuracy: 0.7063
Epoch 4/50
804/804 [==============================] - 1s 960us/step - loss: 0.9269 - accuracy: 0.7139
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0146 - accuracy: 0.7006
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9142 - accuracy: 0.7080
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8844 - accuracy: 0.7188
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8537 - accuracy: 0.7189
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8866 - accuracy: 0.7116
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8470 - accuracy: 0.7198
Epoch 11/50
804/804 [==============================] - 1s 998us/step - loss: 0.8949 - accuracy: 0.7228
Epoch 12/50
804/804 [==============================] - 1s 983us/step - loss: 0.9228 - accuracy: 0.7175
Epoch 13/50
804/804 [==============================] - 1s 980us/step - loss: 0.9043 - accuracy: 0.7185
Epoch 14/50
804/804 [==============================] - 1s 987us/step - loss: 0.8124 - accuracy: 0.7151
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7599 - accuracy: 0.7278
Epoch 16/50
804/804 [==============================] - 1s 980us/step - loss: 0.7958 - accuracy: 0.7251
Epoch 17/50
804/804 [==============================] - 1s 974us/step - loss: 0.7870 - accuracy: 0.7267
Epoch 18/50
804/804 [==============================] - 1s 986us/step - loss: 0.7878 - accuracy: 0.7229
Epoch 19/50
804/804 [==============================] - 1s 986us/step - loss: 0.7642 - accuracy: 0.7298
Epoch 20/50
804/804 [==============================] - 1s 987us/step - loss: 0.7782 - accuracy: 0.7271
Epoch 21/50
804/804 [==============================] - 1s 984us/step - loss: 0.7660 - accuracy: 0.7261
Epoch 22/50
804/804 [==============================] - 1s 983us/step - loss: 0.7276 - accuracy: 0.7308
Epoch 23/50
804/804 [==============================] - 1s 976us/step - loss: 0.7328 - accuracy: 0.7293
Epoch 24/50
804/804 [==============================] - 1s 995us/step - loss: 0.7406 - accuracy: 0.7262
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6929 - accuracy: 0.7304
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6742 - accuracy: 0.7297
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6866 - accuracy: 0.7291
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6601 - accuracy: 0.7318
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6515 - accuracy: 0.7309
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6331 - accuracy: 0.7198
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6124 - accuracy: 0.7277
Epoch 32/50
804/804 [==============================] - 1s 988us/step - loss: 0.6197 - accuracy: 0.7287
Epoch 33/50
804/804 [==============================] - 1s 998us/step - loss: 0.6117 - accuracy: 0.7317
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6235 - accuracy: 0.7219
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6208 - accuracy: 0.7323
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6116 - accuracy: 0.7315
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6094 - accuracy: 0.7318
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6094 - accuracy: 0.7348
Epoch 39/50
804/804 [==============================] - 1s 976us/step - loss: 0.6351 - accuracy: 0.7306
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.7302
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6137 - accuracy: 0.7280
Epoch 42/50
804/804 [==============================] - 1s 982us/step - loss: 0.6027 - accuracy: 0.7278
Epoch 43/50
804/804 [==============================] - 1s 987us/step - loss: 0.5957 - accuracy: 0.7365
Epoch 44/50
804/804 [==============================] - 1s 995us/step - loss: 0.5962 - accuracy: 0.7329
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5954 - accuracy: 0.7359
Epoch 46/50
804/804 [==============================] - 1s 993us/step - loss: 0.5982 - accuracy: 0.7346
Epoch 47/50
804/804 [==============================] - 1s 993us/step - loss: 0.6065 - accuracy: 0.7355
Epoch 48/50
804/804 [==============================] - 1s 993us/step - loss: 0.6109 - accuracy: 0.7334
Epoch 49/50
804/804 [==============================] - 1s 994us/step - loss: 0.6043 - accuracy: 0.7328
Epoch 50/50
804/804 [==============================] - 1s 988us/step - loss: 0.5976 - accuracy: 0.7249

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [31]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  neuron.evaluate(X_test_scaled, y_test)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 714us/step - loss: 0.5961 - accuracy: 0.7276
Loss: 0.596079409122467, Accuracy: 0.727580189704895

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [32]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5") # create new h5 file 

# Export your model to a HDF5 file
# YOUR CODE HERE
neuron.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1)//2
#hidden_nodes_layer2_A2 =  (number_input_features  + number_output_neurons) // 2
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [36]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 =  (hidden_nodes_layer1_A1 + number_output_neurons) // 2
hidden_nodes_layer2_A2

29

In [37]:
# Define the number of hidden nodes for the Third hidden layer
hidden_nodes_layer3_A3 =  (hidden_nodes_layer2_A2 + number_output_neurons) // 2
hidden_nodes_layer3_A3

15

In [57]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [58]:
# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1_A1,input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn_A1.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer2_A2, activation="relu")
)
#Third hidden layer
nn_A1.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer3_A3, activation="relu"))
# Output layer
nn_A1.add(Dense(1, activation = "sigmoid"))



# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_15 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_16 (Dense)             (None, 15)                450
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 16
=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [59]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [60]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5723 - accuracy: 0.7213
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7290
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7311
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7334
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7359
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7361
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7370
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7377
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7375
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7384
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7383
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7397
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7395
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7408
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7399
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7420
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7415

#### Alternative Model 2

In [72]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [73]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [74]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [75]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2)//2
hidden_nodes_layer2_A2

29

In [76]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [77]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A2,input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer2_A2,input_dim=number_input_features, activation="relu")
)
# Output layer
nn_A2.add(Dense(1, activation = "sigmoid"))

# Check the structure of the model

nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_22 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [78]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [79]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5725 - accuracy: 0.7220
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7307
Epoch 3/50
804/804 [==============================] - 1s 976us/step - loss: 0.5500 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 1s 981us/step - loss: 0.5496 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 1s 978us/step - loss: 0.5476 - accuracy: 0.7332
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7333
Epoch 8/50
804/804 [==============================] - 1s 976us/step - loss: 0.5435 - accuracy: 0.7340
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7342
Epoch 11/50
804/804 [==============================] - 1s 996us/step - loss: 0.5413 - accuracy: 0.7354
Epoch 12/50
804/804 [==============================] - 1s 1000us/step - loss: 0.5413 - accuracy: 0.7354
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 14/50
804/804 [==============================] - 1s 987us/step - loss: 0.5404 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7365
Epoch 16/50
804/804 [==============================] - 1s 990us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 1s 985us/step - loss: 0.5388 - accuracy: 0.7358
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 19/50
804/804 [==============================] - 1s 990us/step - loss: 0.5386 - accuracy: 0.7376
Epoch 20/50
804/804 [==============================] - 1s 979us/step - loss: 0.5379 - accuracy: 0.7377
Epoch 21/50
804/804 [==============================] - 1s 991us/step - loss: 0.5376 - accuracy: 0.7385
Epoch 22/50
804/804 [==============================] - 1s 995us/step - loss: 0.5370 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 1s 983us/step - loss: 0.5366 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 1s 984us/step - loss: 0.5367 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 1s 991us/step - loss: 0.5365 - accuracy: 0.7378
Epoch 28/50
804/804 [==============================] - 1s 987us/step - loss: 0.5357 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 1s 988us/step - loss: 0.5362 - accuracy: 0.7397
Epoch 30/50
804/804 [==============================] - 1s 989us/step - loss: 0.5350 - accuracy: 0.7396
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 32/50
804/804 [==============================] - 1s 990us/step - loss: 0.5354 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 1s 999us/step - loss: 0.5346 - accuracy: 0.7403
Epoch 34/50
804/804 [==============================] - 1s 991us/step - loss: 0.5346 - accuracy: 0.7406
Epoch 35/50
804/804 [==============================] - 1s 993us/step - loss: 0.5347 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 1s 990us/step - loss: 0.5346 - accuracy: 0.7399
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 38/50
804/804 [==============================] - 1s 981us/step - loss: 0.5340 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 1s 993us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 996us/step - loss: 0.5335 - accuracy: 0.7402
Epoch 42/50
804/804 [==============================] - 1s 995us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 1s 990us/step - loss: 0.5327 - accuracy: 0.7410
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 45/50
804/804 [==============================] - 1s 987us/step - loss: 0.5331 - accuracy: 0.7410
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 1s 984us/step - loss: 0.5326 - accuracy: 0.7411

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [80]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  neuron.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 711us/step - loss: 0.5961 - accuracy: 0.7276
Loss: 0.596079409122467, Accuracy: 0.727580189704895

In [81]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 749us/step - loss: 0.5594 - accuracy: 0.7313
Loss: 0.5594291687011719, Accuracy: 0.7313119769096375

In [82]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 759us/step - loss: 0.5562 - accuracy: 0.7303
Loss: 0.5561555624008179, Accuracy: 0.7302623987197876

### Step 3: Save each of your alternative models as an HDF5 file.

In [84]:
# Set the file path for the first alternative model
file_path = Path("AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [85]:
# Set the file path for the second alternative model
file_path = Path("AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)